{# app/Resources/Bootstrap/message.html.twig #}
{% extends 'base.html.twig' %}
{% form_theme form 'Form/fields.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Customer Contact
                        <strong>form</strong>
                    </h2>
                    <hr>
                    <p>Customer IP Address: {{ ip }}</p>
                    <br>
                    <form action="{{ path('contact') }}" method="post" role="form">

                        <div class="row">
                            {{ form_errors(form) }}

                            {{ form_row(form.name) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.phone) }}
                            {{ form_row(form.message) }}

                            {{ form_rest(form) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ asset('bundles/kkstartbootstrap/js/jquery-1.11.1.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/kkstartbootstrap/js/bootstrap.min.js') }}"></script>

{% endblock %}